.checkout-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    position: relative;
    top: 90px;
  }
  
  .checkout-item {
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .checkout-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .payment-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .payment-button:hover {
    background-color: #0056b3;
  }
  