.loginpage-section {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  position: relative;
  max-width: 400px;
  padding: 40px;
  border: 2px solid #ccc;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  background-color: transparent;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 35px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  color: white;
}

.login-container input {
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  width: 90%; /* Set to 90% to match the container's width */
  margin: 10px 0; /* Adjust margin to keep it consistent */
  padding: 13px; /* Match padding from login */
  border: 2px solid #018d6f; /* Match border color */
  border-radius: 9px; /* Match border radius */
}

.login-container button {
  padding: 10px;
  position: relative;
  top: 8px;
  background-color: #02917296; /* Teal */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.login-container button:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff; /* Match hover color */
}
.login-container p {
  text-align: center;
  font-weight: 500;
  color: white;
  position: relative;
  top: 10px;
}
.login-container a {
  color: rgb(0, 255, 174);
  text-decoration: none;
}
.login-container a:hover {
  color: rgb(225, 255, 0);
  text-decoration: underline;
}
