.homepage-section {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-selling-section {
  text-align: center;
  position: relative;
  top: 100px;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #000000;
}

/* Product grid styling */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Product card styling */
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  width: 200px;
  text-align: center;
}

.product-imag {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1rem;
  color: #28a745;
  margin-bottom: 10px;
}

.product-rating {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 15px;
}

.add-to-cart-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #218838;
}

.about-us-button-section {
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 80px;
}

.about-us-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.about-us-button:hover {
  background-color: #0056b3;
}

.category-section {
  margin: 2rem 0;
}

.category-title {
  font-size: 24px;
  margin-bottom: 1rem;
  text-align: center;
}
