.homepage-section {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-selling-section {
  padding: 50px 20px;
  text-align: center;
}

.section-title {
  font-size: 450%;
  margin-bottom: 40px;
  color: #023f45;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.product-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.product-imag {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.product-card:hover .product-imag {
  transform: scale(1.05);
}

.product-name {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #34495e;
  font-weight: 600;
}
.offer-price {
  color: #e74c3c;
  font-weight: 600;
  margin-left: 10px;
  font-size: 1.2rem;
}

.product-price {
  font-size: 1.4rem;
  color: #27ae60;
  margin-bottom: 10px;
  font-weight: 700;
}

.product-rating {
  font-size: 1rem;
  color: #f39c12;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart-button {
  padding: 10px 15px;
  background-color: #0066ff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.add-to-cart-button:hover {
  background-color: #0052cc;
  transform: translateY(-2px);
}

.wishlist-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;
  color: #999;
}
.heart-icon-wish{
  font-size: 20px;
}
.wishlist-button:hover {
  transform: scale(1.1);
}

.wishlist-button.active {
  color: #ff3366;
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.about-us-button-section {
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 35px;
}

.about-us-button {
  position: relative;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 170%;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease;
}

.about-us-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(0, 123, 255, 0.4));
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.about-us-button:hover::before {
  transform: scaleX(1);
}

.about-us-button:hover {
  color: rgb(255, 255, 255);
  background-color: #00072d;
  z-index: 1;
  font-weight: 600;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #18a439;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}
