.registerpage-section {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  position: relative;
  top: 10px;
  backdrop-filter: blur(4px);
  height: 64vh;
  max-width: 400px;
  padding: 40px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container h2 {
  text-align: center;
  position: relative;
  font-family: "syne";
  bottom: 55px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 35px;
}

.register-container form {
  position: relative;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  color: white;
}

.register-container input {
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  width: 90%;
  margin: 10px 0;
  padding: 13px;
  border: 2px solid #018d6f;
  border-radius: 9px;
}

.register-container button {
  padding: 10px;
  position: relative;
  top: 8px;
  background-color: #02917296; 
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px; 
  cursor: pointer;
  font-size: 25px; 
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.register-container button:hover {
  color: rgb(0, 0, 0);
  background-color: #ffffff; 
}

.register-container p {
  text-align: center;
  font-weight: 500;
  color: white;
  position: relative;
  bottom: 65px;
}

.register-container a {
  color: rgb(0, 255, 174);
  text-decoration: none;
}

.register-container a:hover {
  color: rgb(225, 255, 0);
  text-decoration: underline;
}
